@import "reset.css";
*{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body, .fit, .app{
  width: 100%; height: 100%; overflow: auto;
}
.fit{
  padding-top: 52px;
}


