@import "reset.css";

:root{
  --inputColor : #909090;
  --inputFocusColor : #FFF;
}
*:not(input){
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*{
  outline: none;

}
html, body, .fit, .app{
  width: 100%; height: 100%; overflow: auto;
}
.fit{
  padding-top: 46px;
}
.noBackground{background-color: transparent !important; color: #DDD !important;}
.hidden{display: none;}
.noPadding{padding: 0 !important;}

.font12px{font-size: 12px !important;}

