
.sizeInfoLabel{
  font-size: 12px !important;
  padding: 0 !important;
  margin: 0 !important;
  background: transparent !important;
  border: none !important;
}
.focusItem{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.dropdown.green .icon{ color: #21ba45;}