
.header{
  margin-top: -55px;
  padding: 10px;
  background: #1b1c1d;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);

}