
.header{
  margin-top: -52px;
  padding: 10px;
  background: #161616;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
}