

.xCoor, .yCoor, .xyCoor{
  width: 10px; height: 10px; background: #e9e9e9; position: absolute; z-index: 5; opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;

}
.xCoor{height: 100%; right: 0; top: 0; cursor: e-resize;}
.yCoor{width: 100%; left: 0; bottom: 0; cursor: s-resize;}
.xyCoor{right: 0; bottom: 0; z-index: 10; cursor: se-resize;}