.windowFrame{
  background: #1b1c1d;
  position: absolute;
  padding: 46px 7px 7px 7px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  iframe{ pointer-events: auto;}
  .cover{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  &.resizing, &.moving{
    -webkit-box-shadow : 0px 5px 17px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow    : 0px 5px 17px -1px rgba(0, 0, 0, 0.4);
    box-shadow         : 0px 5px 17px -1px rgba(0, 0, 0, 0.4);
    .cover{display: block;}

  }
  &.moving{
    .positionLabel{display: block}
  }
  .resize{
    width: 0; height: 0;
  }
  &.clicked{
    background: #fbbd08;
    z-index: 99 !important;
  }
  .positionLabel{
    position: absolute;
    top: 51px;
    left: 12px;
    display: none;
  }
}