.windowFrame{
  background: #1b1c1d;
  position: absolute;
  padding: 51px 7px 7px 7px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  iframe{ pointer-events: auto;}
  .cover{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  &.resizing, &.moving{
    -webkit-box-shadow : 0px 2px 12px 3px rgba(0,0,0,0.5);
    -moz-box-shadow    : 0px 2px 12px 3px rgba(0,0,0,0.5);
    box-shadow         : 0px 2px 12px 3px rgba(0,0,0,0.5);
    .cover{display: block;}
  }
  .resize{
    width: 0; height: 0;
  }
}