.window{
  background: #161616; margin: 10px; position: relative; padding: 7px;
  float: left;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.hover{
    .resize{
      .xCoor, .yCoor, .bothCoor{
        pointer-events: auto;
      }
    }
  }
  &.resizing{
    .frame{ pointer-events: none;}
  }
  .resize{
    width: 0; height: 0;

  }
}