.moveTool{
  width: 100% !important;
  height: 36px !important;
  position: absolute !important;
  z-index: 0;
  left: 0;
  top:0;
  padding: 0!important;
  div{width: 100%; height: 100%; cursor: move;}
}