
.options{
  .sizeInfo{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background: rgba(255,255,255,0.5);
    padding: 5px;
    font-size: 12px;
  }
  .button{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}