
.options{
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius:5px 5px 0 0;
  -moz-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0;
  .upper{
    position: relative; z-index: 10;
  }
  & > .menu{margin: 0 !important; }
}
.window:hover{
  .options{

  }
}
.slip{
  position: relative;
  left: 1px
}

.hideClass{display: none !important;}
.responsiveMenu{
  margin-top: 0 !important;
  min-height: 45px !important;
}